---
layout: page
titles:
  # @start locale config
  en      : &EN       Publications
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  归档
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  歸檔
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       아카이브
  ko-KR   : *KO
  fr      : &FR       Archives
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Arşivdekiler
  # @end locale config
---

{%- assign _articles = site.posts -%}
{%- if page.project_year -%}
  {%- assign _articles = site.posts | where_exp: "post", "post.date | date: '%Y' == page.project_year" -%}
{%- endif -%}

<div class="layout--archive js-all">
  {%- include tags.html articles=_articles -%}
  <div class="js-result layout--archive__result d-none">
    {%- include article-list.html articles=_articles type='brief' show_cover=true cover_size = 'lg' show_authors=true reverse=true group_by='year' -%}
  </div>
</div>

<script>
  {%- include scripts/archieve.js -%}
</script>

{{ content }}
